<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="linic"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="linic">
         </property>
         <property
               name="windowImages"
               value="icons/logo_16x16.png,icons/logo_32x32.png,icons/logo_48x48.png,icons/logo_64x64.png,icons/logo_128x128.png,icons/logo_256x256.png">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://ro.linic.ui.base/ro.linic.ui.base.E4LifeCycle">
         </property>
         <property
               name="modelResourceHandler"
               value="bundleclass://ro.linic.ui.base/ro.linic.ui.base.eclipse.fixes.ResourceHandler">
         </property>
      </product>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="ro.linic.ui.base.preferences.ToolsPage"
            id="ro.linic.ui.base.preference.toolspage"
            name="%page.name.tools">
      </page>
      <page
            class="ro.linic.ui.base.preferences.SettingsPage"
            id="ro.linic.ui.base.preference.settingsspage"
            name="%page.name.settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ro.linic.ui.base.handlers.LocalePropertyTester"
            id="ro.linic.ui.base.localePropertyTester"
            namespace="ro.linic.ui.base"
            properties="locale"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ro.linic.ui.base.locale.not.ro">
         <not>
            <test
                  property="ro.linic.ui.base.locale"
                  value="ro_RO">
            </test>
         </not>
      </definition>
      <definition
            id="ro.linic.ui.base.locale.not.default">
         <not>
            <test
                  property="ro.linic.ui.base.locale">
            </test>
         </not>
      </definition>
      <definition
            id="ro.linic.ui.base.locale.not.hu">
         <not>
            <test
                  property="ro.linic.ui.base.locale"
                  value="hu">
            </test>
         </not>
      </definition>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
      <preferenceStoreProvider
            class="bundleclass://ro.linic.ui.base/ro.linic.ui.base.preferences.PreferenceStoreProvider"
            pluginId="ro.linic.ui.base">
      </preferenceStoreProvider>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="ro.linic.ui.base.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
