<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="receiptUIComponent" name="receiptUIComponent" schema="schema/receiptUIComponent.exsd"/>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="ro.linic.ui.pos.base.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
      <preferenceStoreProvider
            class="bundleclass://ro.linic.ui.pos.base/ro.linic.ui.pos.base.preferences.PreferenceStoreProvider"
            pluginId="ro.linic.ui.pos.base">
      </preferenceStoreProvider>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            category="ro.linic.ui.pos.base.preference.ecrpage"
            class="ro.linic.ui.pos.base.preferences.DudeECRDriverPage"
            id="ro.linic.ui.pos.base.preference.datecspage"
            name="%page.name.datecs">
      </page>
      <page
            class="ro.linic.ui.pos.base.preferences.ECRDriverPage"
            id="ro.linic.ui.pos.base.preference.ecrpage"
            name="%page.name.ecr">
      </page>
      <page
            category="ro.linic.ui.pos.base.preference.ecrpage"
            class="ro.linic.ui.pos.base.preferences.FiscalNetECRDriverPage"
            id="ro.linic.ui.pos.base.preference.partnerpage"
            name="%page.name.partner">
      </page>
   </extension>

</plugin>
