<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="ro.linic.ui.legacy.preferences.RegisterZPage"
            id="ro.linic.ui.legacy.preference.registerzpage"
            name="%page.name">
      </page>
      <page
            class="ro.linic.ui.legacy.preferences.LabelPage"
            id="ro.linic.ui.legacy.preference.labelpage"
            name="%page.labels">
      </page>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
      <preferenceStoreProvider
            idInWorkbenchContext="ro.linic.ui.legacy.prefStore"
            pluginId="ro.linic.ui.legacy">
      </preferenceStoreProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ro.linic.ui.legacy.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
